## Projet Spam Detector

Dans ce projet l'objectif est de créer une application qui permettra à l'utilisateur de rentrer un SMS dans un formulaire. L'application devra être capable de lire le message et de prédire si ce texte est un SPAM ou non.

#### Importer les librairies utilisées dans le notebook

In [17]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from sklearn.externals import joblib

#### Chargement du fichier csv contenant les données dans un dataframe

In [22]:
df = pd.read_csv('spam.csv', encoding="latin-1")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

- On Supprime les colonnes contenant des NaN

In [23]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

- On renomme les colonnes v1 et v2

In [24]:
df = df.rename(columns={'v2':'message', 'v1':'label'})
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

- On transforme les valeurs de la colonne label en 0 et 1

In [25]:
df.label = df.label.map({'ham': 0, 'spam': 1})
df.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [26]:
X = df['message']
y = df['label']

- Créer une instance de CountVectorizer. Ceci sera utile pour créer une matrice contenant la fréquence de chaque mot dans le dataset

In [27]:
count_vect = CountVectorizer()

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [29]:
X_train = count_vect.fit_transform(X_train)

In [30]:
joblib.dump(count_vect, 'count_vect.pkl')

['count_vect.pkl']

In [31]:
X_test = count_vect.transform(X_test)

- Modèle Naive Bayes pour prédire la classe des SMS

In [32]:
clf = MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.9820531227566404

In [33]:
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      1202
           1       0.98      0.88      0.93       191

   micro avg       0.98      0.98      0.98      1393
   macro avg       0.98      0.94      0.96      1393
weighted avg       0.98      0.98      0.98      1393

- On sauvegarde le modèle pour pouvoir l'utiliser dans l'application

In [34]:
joblib.dump(clf, 'NB_spam_model.pkl')

['NB_spam_model.pkl']

- Pour le récupérer plus tard
  - NB_spam_model = open('NB_spam_model.pkl','rb')
  - clf = joblib.load(NB_spam_model)